# only needed to set a bridge between Jenkins-agent and Jenkins-controller in this specific CI configuration where its implemented as a two Docker-containers inside a common network
JENKINS_SECRET=your_jenkins_secret
DB_PASSWORD=your_db_password